.password-modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 20%;
        opacity: 1;
    }
}

.password-modal-content {
    color: #333;
}

.password-modal-content h2,
.password-modal-content input {
    margin-bottom: 1rem;
} 

.password-modal button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #7750F6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-modal button:hover {
    background-color: #6340D6;
}